# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>Some of the popular languages that Data Scientists use are
    <li>Some of the commonly used libraries used by Data Scientists include
    <li>Data Science Tools
    <li>Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python
<li>R_language
<li>SQL
<li>java
<li>Scala
<li>C++
<li>Julia
    <ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas
<li>Numpy
<li>Matplotlib
<li>Seaborn
<li>TensorFlow
<li>Scikit-Lcare
<li>Kiras
    <ol>

## Data Science Tools
|Data Science Tools|
|------------------|
|MY SQL|
|AIRFLOW|
|PIXIE DUST|
|TENSOR FLOW|
|MODEL DB|
|WATSON STUDIO|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
n=200
h=n/60
print(n,"minutes=",h,"hours")

200 minutes= 3.3333333333333335 hours

## Author
Pavan Kumar Sadhanaveni